body{
    background-color: #8f9afb93;
    margin: 0;
  }
  .header {
      text-align: center;
      padding: 35px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: xx-large;
      border-radius: 25px;
  }
  
  div.content {
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
  }

  nav {
    padding-top: 60%;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 25%;
      background-color: #8f9afb;
      position: fixed;
      height: 100%;
      overflow: auto;
      padding-top: 15%;
    }
    
    li {
      float: none;
    }
  
    li a {
      display: block;
      color: black;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      padding: 10px 18px;
      text-decoration: none;
      font-size: large;
      font-weight: bold;
    }
  
    .clearfix {
      content: "";
      clear: both;
      display: table;
    }
  
    li a:hover:not(.active) {
      background-color: aliceblue;
      color: #333;
    }
  
    li a:hover {
      background-color: aliceblue;
      border-style: hidden;
      border-radius: 30px;
      position: static;
    }

    div.picturelogo {
        float: right;
        position:absolute;
        left: 1150px;
        top: 0px;
        z-index: 1;
        }
      
      div.mypicture {
        float: left;
        position: fixed;
        right: 1100px;
        top: 40px;
        z-index: 1;
      }

      img {
        border-radius: 50%;
      }

      video {
        max-width: 100%;
        height: auto;
      }